button.bg-primary {
  background: linear-gradient(to left, #434B9C 50%, #BAABEB 50%) right;
  transition: .3s ease;
  background-size: 200%; }
  button.bg-primary:hover {
    background-position: left; }

button.bg-white {
  background: linear-gradient(to left, #FFFFFF 50%, #434B9C 50%) right;
  transition: .3s ease;
  background-size: 200%; }
  button.bg-white:hover {
    background-position: left; }
    button.bg-white:hover p {
      color: #FFFFFF; }

button.social {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  position: relative; }
  button.social:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    background-color: #BAABEB;
    -webkit-transform: scale(0) translate(-50%, -50%);
    -moz-transform: scale(0) translate(-50%, -50%);
    -ms-transform: scale(0) translate(-50%, -50%);
    -o-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    border-radius: 100%;
    transition: .3s ease;
    transform-origin: top left; }
  button.social:hover:before {
    -webkit-transform: scale(1) translate(-50%, -50%);
    -moz-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    -o-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%); }

button.play_video::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-color: #BAABEB;
  transform: scale(0);
  transition: .3s ease; }
button.play_video:hover::after {
  transform: scale(1); }

.anim_underline {
  position: relative;
  padding-bottom: 6px; }
  .anim_underline::after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transition: .3s ease;
    transform-origin: left;
    left: 0;
    bottom: 0; }
  .anim_underline:hover::after {
    transform: scaleX(1); }
