$primary: #434B9C;
$dark_primary: #22286E;
$secondary: #BAABEB;
$white: #FFFFFF;
$grey: #BCBCBC;

button.bg-primary{
    background: linear-gradient(to left, $primary 50%, $secondary 50%) right;
    transition: .3s ease;
    background-size: 200%;
    &:hover{ background-position: left; }
}

button.bg-white{
    background: linear-gradient(to left, $white 50%, $primary 50%) right;
    transition: .3s ease;
    background-size: 200%;
    &:hover{
        background-position: left;
        & p{
            color: $white;
        }
    }
}

button.social{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 50%;
        left: 50%;
        background-color: $secondary;
        -webkit-transform: scale(0) translate(-50%, -50%);
        -moz-transform: scale(0) translate(-50%, -50%);
        -ms-transform: scale(0) translate(-50%, -50%);
        -o-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
        border-radius: 100%;
        transition: .3s ease;
        transform-origin: top left;
    }
    &:hover:before{
        -webkit-transform: scale(1) translate(-50%, -50%);
        -moz-transform: scale(1) translate(-50%, -50%);
        -ms-transform: scale(1) translate(-50%, -50%);
        -o-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
}

button.play_video{
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        background-color: $secondary;
        transform: scale(0);
        transition: .3s ease;
    }
    &:hover::after{
        transform: scale(1);
    }
}

.anim_underline{
    position: relative;
    padding-bottom: 6px;
    &::after{
        content: '';
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transition: .3s ease;
        transform-origin: left;
        left: 0;
        bottom: 0;
    }
    &:hover::after{
        transform: scaleX(1);
    }
}
