$menu_transition: .7s;

header{
    width: 90px;
    height: 100vh;
    position: fixed;

    #navbar > *:not(label){ border-bottom: 1px solid #434B9C; }

    & #navbar label > img{ width: 100%; height: 90px; }
    & #navbar label > i{ width: 100%; height: 90px; display: flex; }
    // Trigger Menu
    & nav#menu{ pointer-events: none; }

    & nav#menu > *:first-child{
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        transition: $menu_transition ease;
    }
    & nav#menu > *:first-child > *{
        -webkit-transform: translateY(-500px);
        -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
        -o-transform: translateY(-500px);
        transform: translateY(-500px);
        transition: $menu_transition cubic-bezier(.55,-0.5,0,1.55);
    }

    & nav#menu > *:last-child{
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        transition: $menu_transition ease;
    }
    & nav#menu > *:last-child > *{
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
        transition: $menu_transition cubic-bezier(.55,-0.5,0,1.55);
    }

    & input[type='checkbox']:checked + nav#menu{
        pointer-events: all;
        & > *:first-child{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            & > *{ transform: translateY(0); }
        }
        & > *:last-child{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateX(0);
            & > *{ transform: translateX(0); }
        }
    }
}

@media (max-width: 640px) {
    header #navbar{
        height: 60px;
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        z-index: 99999999;
        display: flex;
        z-index: -1;
        & label > img, & label > i{ height: 60px; }
        & li:first-child label i{
            position: fixed;
            top: 0;
            left: 0;
            display: block;
            &::before{
                mix-blend-mode: difference;
            }
        }
        & *:not(label){ border-bottom: 0px solid #434B9C; }
    }
}
