$primary: #434B9C;
$dark_primary: #22286E;
$secondary: #BAABEB;
$white: #FFFFFF;
$grey: #BCBCBC;

.text-primary{ color: $primary; }
.text-secondary{ color: $secondary; }
.text-grey{ color: $grey; }

.bg-primary{ background-color: $primary; }
.bg-dark_primary{ background-color: $dark_primary; }
.bg-secondary{ background-color: $secondary; }

.border.border-primary{ border: 1px solid $primary; }
