p.text-museo, span.text-museo, h1, h2, h3, h4, h5, h6{ font-family: 'Museo'; }
p, span, b, strong, i, em{ font-family: 'Museo-sans'; }
.text-light{ font-weight: 300; }

@font-face {
    font-family: 'Museo';
    src:  url('../../assets/fonts/Museo300-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Museo300-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src:  url('../../assets/fonts/Museo500-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Museo500-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src:  url('../../assets/fonts/Museo-700.woff2') format('woff2'),
       url('../../assets/fonts/Museo-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src:  url('../../assets/fonts/Museo900-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Museo900-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo-sans';
    src:  url('../../assets/fonts/MuseoSans-300.woff2') format('woff2'),
       url('../../assets/fonts/MuseoSans-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo-sans';
    src:  url('../../assets/fonts/MuseoSans-500.woff2') format('woff2'),
       url('../../assets/fonts/MuseoSans-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo-sans';
    src:  url('../../assets/fonts/MuseoSans-700.woff2') format('woff2'),
       url('../../assets/fonts/MuseoSans-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
