$primary: #434B9C;
$dark_primary: #22286E;
$secondary: #BAABEB;
$white: #FFFFFF;
$grey: #BCBCBC;

@media (max-width: 640px) {
    div button.social{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 640px) {
    .sm-bg-dark_primary{ background-color: $dark_primary; }
    .sm-bg-primary{ background-color: $primary; }
}
