/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* common styles */
body {
  background: #fff;
  color: #000; }

.page {
  background: #fff;
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden; }

.font-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 40px;
  line-height: 1.3;
  white-space: nowrap;
  padding-bottom: 5px; }

h1 {
  position: relative;
  color: #fff; }

.letters {
  font-size: 25px;
  margin-bottom: 20px; }

.s10:before {
  content: '10px'; }

.s11:before {
  content: '11px'; }

.s12:before {
  content: '12px'; }

.s14:before {
  content: '14px'; }

.s18:before {
  content: '18px'; }

.s24:before {
  content: '24px'; }

.s30:before {
  content: '30px'; }

.s36:before {
  content: '36px'; }

.s48:before {
  content: '48px'; }

.s60:before {
  content: '60px'; }

.s72:before {
  content: '72px'; }

.s10:before, .s11:before, .s12:before, .s14:before,
.s18:before, .s24:before, .s30:before, .s36:before,
.s48:before, .s60:before, .s72:before {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  color: #999;
  padding-right: 6px; }

pre {
  display: block;
  position: relative;
  padding: 9px;
  margin: 0 0 10px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  font-weight: normal !important;
  font-style: normal !important;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 4px; }

pre:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: 'Usage';
  line-height: 1;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-radius: 0 4px 0 4px;
  z-index: 10; }

/* responsive */
@media (max-width: 959px) {
  .page {
    width: auto;
    margin: 0; } }
.border-b-2.border-white {
  border-bottom: 2px solid #ffffff; }

.border.border-white.rounded {
  border: 1px solid #ffffff;
  border-radius: 9999px; }

@media (min-width: 640px) {
  .pl-90px {
    padding-left: 90px; } }
.anim_zoom {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: .3s ease; }
  .anim_zoom:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }

.text-primary {
  color: #434B9C; }

.text-secondary {
  color: #BAABEB; }

.text-grey {
  color: #BCBCBC; }

.bg-primary {
  background-color: #434B9C; }

.bg-dark_primary {
  background-color: #22286E; }

.bg-secondary {
  background-color: #BAABEB; }

.border.border-primary {
  border: 1px solid #434B9C; }

p.text-museo, span.text-museo, h1, h2, h3, h4, h5, h6 {
  font-family: 'Museo'; }

p, span, b, strong, i, em {
  font-family: 'Museo-sans'; }

.text-light {
  font-weight: 300; }

@font-face {
  font-family: 'Museo';
  src: url("../../assets/fonts/Museo300-Regular.woff2") format("woff2"), url("../../assets/fonts/Museo300-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Museo';
  src: url("../../assets/fonts/Museo500-Regular.woff2") format("woff2"), url("../../assets/fonts/Museo500-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Museo';
  src: url("../../assets/fonts/Museo-700.woff2") format("woff2"), url("../../assets/fonts/Museo-700.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Museo';
  src: url("../../assets/fonts/Museo900-Regular.woff2") format("woff2"), url("../../assets/fonts/Museo900-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Museo-sans';
  src: url("../../assets/fonts/MuseoSans-300.woff2") format("woff2"), url("../../assets/fonts/MuseoSans-300.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Museo-sans';
  src: url("../../assets/fonts/MuseoSans-500.woff2") format("woff2"), url("../../assets/fonts/MuseoSans-500.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Museo-sans';
  src: url("../../assets/fonts/MuseoSans-700.woff2") format("woff2"), url("../../assets/fonts/MuseoSans-700.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@media (max-width: 640px) {
  div button.social {
    width: 40px;
    height: 40px; } }
@media (min-width: 640px) {
  .sm-bg-dark_primary {
    background-color: #22286E; }

  .sm-bg-primary {
    background-color: #434B9C; } }
header {
  width: 90px;
  height: 100vh;
  position: fixed; }
  header #navbar > *:not(label) {
    border-bottom: 1px solid #434B9C; }
  header #navbar label > img {
    width: 100%;
    height: 90px; }
  header #navbar label > i {
    width: 100%;
    height: 90px;
    display: flex; }
  header nav#menu {
    pointer-events: none; }
  header nav#menu > *:first-child {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: 0.7s ease; }
  header nav#menu > *:first-child > * {
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transform: translateY(-500px);
    transition: 0.7s cubic-bezier(0.55, -0.5, 0, 1.55); }
  header nav#menu > *:last-child {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: 0.7s ease; }
  header nav#menu > *:last-child > * {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
    transition: 0.7s cubic-bezier(0.55, -0.5, 0, 1.55); }
  header input[type='checkbox']:checked + nav#menu {
    pointer-events: all; }
    header input[type='checkbox']:checked + nav#menu > *:first-child {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
      header input[type='checkbox']:checked + nav#menu > *:first-child > * {
        transform: translateY(0); }
    header input[type='checkbox']:checked + nav#menu > *:last-child {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateX(0); }
      header input[type='checkbox']:checked + nav#menu > *:last-child > * {
        transform: translateX(0); }

@media (max-width: 640px) {
  header #navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    z-index: 99999999;
    display: flex;
    z-index: -1; }
    header #navbar label > img, header #navbar label > i {
      height: 60px; }
    header #navbar li:first-child label i {
      position: fixed;
      top: 0;
      left: 0;
      display: block; }
      header #navbar li:first-child label i::before {
        mix-blend-mode: difference; }
    header #navbar *:not(label) {
      border-bottom: 0px solid #434B9C; } }
button.bg-primary {
  background: linear-gradient(to left, #434B9C 50%, #BAABEB 50%) right;
  transition: .3s ease;
  background-size: 200%; }
  button.bg-primary:hover {
    background-position: left; }

button.bg-white {
  background: linear-gradient(to left, #FFFFFF 50%, #434B9C 50%) right;
  transition: .3s ease;
  background-size: 200%; }
  button.bg-white:hover {
    background-position: left; }
    button.bg-white:hover p {
      color: #FFFFFF; }

button.social {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  position: relative; }
  button.social:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    background-color: #BAABEB;
    -webkit-transform: scale(0) translate(-50%, -50%);
    -moz-transform: scale(0) translate(-50%, -50%);
    -ms-transform: scale(0) translate(-50%, -50%);
    -o-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    border-radius: 100%;
    transition: .3s ease;
    transform-origin: top left; }
  button.social:hover:before {
    -webkit-transform: scale(1) translate(-50%, -50%);
    -moz-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    -o-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%); }

button.play_video::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-color: #BAABEB;
  transform: scale(0);
  transition: .3s ease; }
button.play_video:hover::after {
  transform: scale(1); }

.anim_underline {
  position: relative;
  padding-bottom: 6px; }
  .anim_underline::after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transition: .3s ease;
    transform-origin: left;
    left: 0;
    bottom: 0; }
  .anim_underline:hover::after {
    transform: scaleX(1); }
