.text-primary {
  color: #434B9C; }

.text-secondary {
  color: #BAABEB; }

.text-grey {
  color: #BCBCBC; }

.bg-primary {
  background-color: #434B9C; }

.bg-dark_primary {
  background-color: #22286E; }

.bg-secondary {
  background-color: #BAABEB; }

.border.border-primary {
  border: 1px solid #434B9C; }
