@media (max-width: 640px) {
  div button.social {
    width: 40px;
    height: 40px; } }
@media (min-width: 640px) {
  .sm-bg-dark_primary {
    background-color: #22286E; }

  .sm-bg-primary {
    background-color: #434B9C; } }
