.border-b-2.border-white {
  border-bottom: 2px solid #ffffff; }

.border.border-white.rounded {
  border: 1px solid #ffffff;
  border-radius: 9999px; }

@media (min-width: 640px) {
  .pl-90px {
    padding-left: 90px; } }
.anim_zoom {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: .3s ease; }
  .anim_zoom:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }
